*{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #81998e;
    box-sizing: border-box;
}
.raw{
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}
.container{
    padding: 8px;
    margin-bottom: 20px;
    /* background-color: #005642; */
}
h2{
    font-size: 48px;
    text-align: center;
    padding: 0 15 15 15px;
    color: #ffffff;
    font-family: sans-serif;
    /* background-color: #005642; */
}
.gallery {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.item {
    position: relative;
    overflow: hidden;
    max-width: 30.1%;
    border-radius: 8px;
    flex: 1 0 calc(33.33% - 20px);
    margin : 8px;
    cursor: pointer;
    transition: transform 0.4s ease;

}

.item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.item:hover {
    transform: scale(0.95); /* Zoom-out effect */
}















.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90vh;
}

.lightbox:target {
    display: flex;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    color: #f1f1f1;
    text-decoration: none;
}





